<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono pensamento">
  <img src="../../../../assets/Imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo"> {{pensamento.conteudo}} </p>
  <p class="autoria"><b>{{pensamento.autoria}}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="../../../../assets/Imagens/icone-editar.png" alt="Ícone de editar">
    </button>
    <button class="botao-excluir">
      <img src="../../../../assets/Imagens/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
